/* Write your CSS here */
.match-card-container {
  background-color: #0f172a;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: 10px;

  margin-top: 70px;
  margin-right: 10%;

  padding: 10px;
}
.matchImage {
  height: 150px;
  width: 150px;
}
.team-name {
  font-size: 18px;
  font-family: 'roboto';
  color: #ffffff;
}
.match-result {
  font-size: 18px;
  font-family: 'roboto';
  color: #ffffff;
}
.match-status {
  font-size: 18px;
  font-family: 'roboto';
}
